<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mt-5">
        <div class="card-header">
          <h4 class="text-center">Update Profile</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="updateUser()">
            <div class="mb-3 text-center">
              <img [src]="base64Image" alt="Profile Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            </div>
            <div class="mb-3">
              <label for="profileImage" class="form-label">Profile Image:</label>
              <input type="file" class="form-control" id="profileImage" (change)="onFileSelected($event)">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
