<div class="container mt-4" *ngIf="products$ | async as products">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img src="{{ product.urlImage }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Цена: {{ product.price }}</p>
          <p class="card-text">В наличии: {{ product.quantityInStock }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
