.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-info {
  margin-top: 20px;
}
