<button class="btn btn-primary mb-4">
  Добавить категорию
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Комментарий</th>
      <th scope="col">Пользователь</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>
        <input type="text" [(ngModel)]="review.comment" class="form-control">
      </td>
      <td>{{ review.user?.name }}</td>
      <td class="d-line">
        <button class="btn btn-warning btn-sm mr-2" (click)="onUpdateReview(review)">Редактировать</button>
        <button class="btn btn-danger btn-sm" (click)="deleteReview(review.reviewID)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
